div{

    background-image: url(../../../assets/band/Públic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   background-attachment: fixed;
   padding: 5%;
}