@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Nanum+Pen+Script&family=Simonetta:wght@900&display=swap');
*{
    font-family: 'Estonia', cursive;

    font-family: 'Nanum Pen Script', cursive;

    font-family: 'Simonetta', cursive;
    margin: 0;
    padding: 0;
    background-image: url("https://images.alphacoders.com/135/thumb-1920-13531.jpg");
}
body{
    margin: 0;
    padding: 0;
  
}