

.discoCard{
    display: flex;
    gap:5%;
    width: 600px;
    transition: 0.5s;
   
    
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;}
    
    
    & div{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: x-large;
        width: 45%;
        & h3{
            text-decoration: underline yellow;
        }
        & img{
            width: 100px;
            height: 100px;
        }
    }

    button{

        background-color: inherit;
        border: none;
        
        img{
            width: 50px;
            height: 50px;
            cursor: pointer;
            padding: 10%;

            &:hover{
               
                background-color: rgb(255, 255, 137);
                border-radius: 10%;
            }
            
        }

        

    }

    .horizontal{

        display: flex;
        flex-direction: row;
        gap: 10%;
        margin-top: 10%;

    }

}
.img1{
    width:300px;
    height:300px;
    margin-top: 50px;
    border-radius: 10vw;
    transition: 20s;
    margin-left: 51px;
    &:hover{
        transform: rotate(360deg);
        transition: 20s;
      

    }
}

.encima{
    width: 200px;
    height: 200px;
    position: absolute;
    transform: scale(-1);

}
